* {
  font-family: sans-serif;
}

body {
  background-color: rgb(255, 255, 255);
}

.sec1 {
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 90vh;
}

.nav {
  background-color: rgb(151, 149, 149);
}

h1 {
  padding: 10px 0 10px 10px;
  font-size: 15px;
  font-weight: 900;
  color: brown;
}

.head {
  display: flex;
  justify-content: space-between;
}

.recent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
}

#btn {
  font-family: sans-serif;
  height: 30px;
  font-weight: 700;
  padding: 0 10px 0 10px;
  margin-left: 220px;
}

#btn:hover {
  background-color: gray;
  color: white;
  border: 1px solid brown;
}

.table {
  border: 2px solid black;
  margin-top: 10px;
  width: 600px;
}

.addscorecont {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 15px;
}

input[type="text"] {
  border: 2px solid black;
  padding: 5px;
}

#submit {
  width: 80px;
  padding: 5px 0 5px 0;
  border: 2px solid black;
  margin-left: 520px;
}

#submit:hover {
  background-color: gray;
  color: white;
  border: none;
}

.footer {
  background: grey;
  height: 30px;
  text-align: start;
  padding-left: 10px;
  width: auto;
}

.foot {
  color: white;
  padding: 7px;
}
